body{
    margin: 0%;
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0%;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}

.h2{
    text-indent: 2cm;
}

.grill{
    width: 400px;
    height: 300px;
    padding-inline: 50px;
}

.para{
    text-indent: 1%;
    margin: 1%;
}

.Meat{
   position: absolute;
   bottom: 1%;
   right: 15%;
}

.fish{
    position: absolute;
    top: 40%;
    right: 15%;
 }

 .Pork{
    position: absolute;
    bottom: 1%;
    left: 15%;
 }

 .chicken{
    position: absolute;
    top: 40%;
    left: 15%;
 }

 .about{
    position: absolute;
    top: 22%;
    left: 30%;
 }

 .buttonsize{

    position: absolute;
    top: 50%;
    left: 40%;

}

.sizeb{
    width: 100px;
    height: 100px;

}
.h3{
    position: absolute;
    top: 75%;
    left: 20%;
}

.posit{
    position: absolute;
    top: 30%;
    left: 35%
}

.fry{
    position: absolute;
    top: 75%;
    left: 35%;
}

.airfry{
    position: absolute;
    top: 130%;
    left: 35%;
}

.roasting{
    position: absolute;
    top: 180%;
    left: 35%;
}
